// TODO: add light and dark colors, add dependencies in other maps

$light_colors: ();

$dark_colors: ();

// BACKGROUND

$background_colors_light_theme: (
  "primary": #ffffff,
  "secondary": #f5f5ff,
  "primary_hover": #f7f7ff,
);

$background_colors_dark_theme: (
  "primary": #181818,
  "secondary": #2c2c2c,
);

// BORDER

$border_colors_light_theme: (
  "primary": #cecedb,
  "secondary": #eaeaf2,
);

// BUTTON

$button_colors_light_theme: (
  "primary": #4b47ff,
  "primary_hover": #2b27cd,
  "primary_active": #1a179b,
  "primary_disabled": #bfbfff,
  "secondary": #e8e8fa,
  "secondary_hover": #d8d8ee,
  "secondary_border": #cecedb,
  "secondary_active": #c8c7e1,
  "bordered": #ffffff,
  "bordered_hover": #f7f7fe,
  "bordered_active": #f3f3f8,
);

$button_colors_dark_theme: (
  "primary": #4b47ff,
  "primary_hover": #2b27cd,
);

// FONT

$font_colors_light_theme: (
  "primary": #14142a,
  "secondary": #5a5a6f,
  "button_primary": #ffffff,
  "button_secondary": #14142a,
  "secondary_disabled": #adadc0,
  "placeholder": #a1a1af,
  "error": #f0453a,
  "link": #5a5a6f,
);

$font_colors_dark_theme: (
  "primary": #ffffff,
  "button_primary": #ffffff,
);

// INPUT

$input_colors_light_theme: (
  "bg": #ffffff,
  "bg_disabled": rgba(206, 206, 219, 0.1),
  "border": #cecedb,
  "border_hover": #b6b5ff,
  "border_focus": #4b47ff,
  "border_error": #f0453a,
);

$input_colors_dark_theme: (
  // "primary": #ffffff,
  "primary": #2c2c2c,
  "border": #93939d,
  "active": map-get($button_colors_dark_theme, "primary")
);

// ACTION

$action_colors: (
  "success": #039300,
  "error": #f5847d,
  "warning": #975b00,
);

// NAVIGATION

$navigation: (
  "primary": #5a5a6f,
  "secondary": hsl(241, 100%, 88%),
  "active": #4b47ff,
  "active_link_primary": #fff,
  "hr": #a0a0a9,
);
$navigation_dark: (
  "primary": #4b47ff,
  "secondary": #c5c4ff,
  "active_link_primary": #fff,
  "hr": #fff,
  "background": #181818,
);

// table

$table: (
  "border": #d9d9d9,
  "row-bg": #f4f2f1,
);

$statistics: (
  "success": #58f596,
  "hz": #4b47ff,
);

$notes: (
  "secondary": #d9d9d9,
  "primary": #4b47ff,
  "icon": #cecedb,
);

$tariff_card_light_theme: (
  "bg": #ffffff,
);

$apps_table_light_theme: (
  "bg_header": #fbfbff,
);
